<a href="https://colab.research.google.com/github/nahidislamz/Kaggle-competition/blob/main/Code_Data_Bytes_4t68pg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install opendatasets --quiet

In [ ]:
!pip install --upgrade category_encoders

In [ ]:
import opendatasets as od
url = 'https://www.kaggle.com/competitions/robi-datathon-2-pre-assessment/data'
od.download(url)

Skipping, found downloaded files in "./robi-datathon-2-pre-assessment" (use force=True to force download)

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from category_encoders import OneHotEncoder
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier, plot_tree

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
train = pd.read_csv('/content/robi-datathon-2-pre-assessment/train.csv')
test = pd.read_csv('/content/robi-datathon-2-pre-assessment/test.csv')

In [ ]:
train.head()

,id,gender,s11,s12,s13,s16,s17,s18,s48,s52,...,n7,n8,n9,n10,n11,n12,n13,n14,n15,label
0,b'gAAAAABinOicS09vrmgh0_JyEHihI13ptO0rCyHP7l76...,M,Y,N,1,D,D,B,0,1,...,-9.126056,1.732291,3.698504,4.804517,1.544484,0,0,0.631220,5,0
1,b'gAAAAABinOiWGC1WhR6WYP0DA5ssGv9rIekrWUwCdJ8F...,M,Y,Y,1,D,D,B,1,1,...,-9.098287,1.505885,6.791357,6.110416,1.712354,0,0,0.392746,3,1
2,b'gAAAAABinOibTcOBFIVeA4nVF3FuFz_QX3ZlPPFc21gS...,M,Y,Y,1,D,D,B,0,1,...,-9.234894,1.503828,4.109685,3.953226,1.804260,0,0,0.222537,2,0
3,b'gAAAAABinOig-g3-Q1ggjlMhfUSdn21Aj5yVVeVvXbis...,F,Y,Y,1,D,D,B,0,1,...,-9.378025,1.485863,7.265876,4.559419,1.537645,0,0,0.154409,4,0
4,b'gAAAAABinOiXdoaNUzihOSbyY1tjWtd5EgMaXkkvH6SV...,M,N,Y,1,B,D,D,1,l,...,-9.261962,1.619210,3.737647,4.052003,1.637831,0,1,0.737560,1,0

In [ ]:
train.describe()

,s13,s48,s56,s57,s59,n1,n2,n3,n4,n5,...,n7,n8,n9,n10,n11,n12,n13,n14,n15,label
count,28322.000000,28322.000000,0.0,0.0,0.0,28322.000000,28322.000000,28322.000000,28322.000000,28322.000000,...,28322.000000,28322.000000,28322.000000,28322.000000,28322.000000,28322.000000,28322.000000,28322.000000,28322.000000,28322.000000
mean,0.983123,0.433338,NaN,NaN,NaN,10.201863,1.600111,4.805099,5.080537,-32.641183,...,-9.107429,1.612428,5.232644,6.115109,1.699553,0.009992,0.089506,0.497570,2.997740,0.168067
std,0.128814,0.495545,NaN,NaN,NaN,4.414660,0.664985,2.199282,2.276162,0.241453,...,0.205200,0.173560,2.179705,2.474138,0.115150,0.099462,0.285478,0.289207,2.007611,0.373933
min,0.000000,0.000000,NaN,NaN,NaN,2.200736,0.311727,0.000000,1.700370,-33.167589,...,-9.517986,1.178469,2.508858,1.173465,1.500006,0.000000,0.000000,0.000101,0.000000,0.000000
25%,1.000000,0.000000,NaN,NaN,NaN,6.592127,1.013540,3.000000,2.833161,-32.862207,...,-9.258473,1.489924,3.464229,4.414671,1.600056,0.000000,0.000000,0.247801,1.000000,0.000000
50%,1.000000,0.000000,NaN,NaN,NaN,9.535961,1.462197,5.000000,4.840320,-32.577026,...,-9.174557,1.537263,4.461770,5.317154,1.698556,0.000000,0.000000,0.495255,3.000000,0.000000
75%,1.000000,1.000000,NaN,NaN,NaN,14.432580,2.194510,6.000000,7.300738,-32.396733,...,-8.964786,1.730249,6.524341,7.027610,1.799238,0.000000,0.000000,0.748786,5.000000,0.000000
max,1.000000,1.000000,NaN,NaN,NaN,20.882733,3.137331,9.000000,8.594620,-32.289180,...,-8.586583,2.173593,11.214870,12.029135,1.899995,1.000000,1.000000,0.999990,6.000000,1.000000

In [ ]:
train.isnull().mean()

id        0.000000
gender    0.000000
s11       0.000000
s12       0.000000
s13       0.000000
s16       0.000000
s17       0.000000
s18       0.000000
s48       0.000000
s52       0.000000
s53       0.000000
s54       0.907210
s55       0.886802
s56       1.000000
s57       1.000000
s58       0.000000
s59       1.000000
s69       0.000000
s70       0.000000
s71       0.000000
n1        0.000000
n2        0.000000
n3        0.000000
n4        0.000000
n5        0.000000
n6        0.000000
n7        0.000000
n8        0.000000
n9        0.000000
n10       0.000000
n11       0.000000
n12       0.000000
n13       0.000000
n14       0.000000
n15       0.000000
label     0.000000
dtype: float64

In [ ]:
test.isnull().mean()

id        0.000000
gender    0.000000
s11       0.000000
s12       0.000000
s13       0.000000
s16       0.000000
s17       0.000000
s18       0.000000
s48       0.000000
s52       0.000000
s53       0.000000
s54       0.908975
s55       0.889249
s56       1.000000
s57       1.000000
s58       0.000000
s59       1.000000
s69       0.000000
s70       0.000000
s71       0.000000
n1        0.000000
n2        0.000000
n3        0.000000
n4        0.000000
n5        0.000000
n6        0.000000
n7        0.000000
n8        0.000000
n9        0.000000
n10       0.000000
n11       0.000000
n12       0.000000
n13       0.000000
n14       0.000000
n15       0.000000
dtype: float64

# cleaning data

In [ ]:
#deleting cols containing null values

def clean_data(data):
    data.drop(['s54','s55', 's56', 's57','s59'], axis = 1, inplace = True)

In [ ]:
clean_data(train)
clean_data(test)

In [ ]:
sum(train.isnull().sum())

0

In [ ]:
sum(test.isnull().sum())

0

# Model Building

In [ ]:
X = train.drop('label', axis = 1)
y = train['label']

# ecoding data numerical

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
acc_baseline = y_train.value_counts(normalize=True).max()
print("Baseline Accuracy:", round(acc_baseline, 2))

Baseline Accuracy: 0.83

In [ ]:
model = make_pipeline(OneHotEncoder(use_cat_names=True),LogisticRegression(max_iter=1000))
# Fit model to training data
model.fit(X_train, y_train)

In [ ]:
acc_train = accuracy_score(y_train, model.predict(X_train))

In [ ]:
print("X_train shape:", X_train.shape)
print("y_train shape:", y_train.shape)
print("X_test shape:", X_test.shape)
print("y_test shape:", y_test.shape)